*{
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height:100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 7%, rgba(0,212,255,1) 100%);
    font-family:Georgia;
}
.container {   
    display:flex;    
    flex-direction: column;    
    align-items:center;
    justify-content:space-around;
    width:50%;    
    height: 60%;
    padding: 1%;    
    background-color: aliceblue;
    border-radius: 10px;
    -webkit-box-shadow: 5px 2px 14px 3px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 5px 2px 14px 3px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 2px 14px 3px rgba(0, 0, 0, 0.42); 
}
.slider {   
    display: flex;     
    width:100%;
    height:80%;    
    border-radius: 10px; 
    background-color: rgb(161, 201, 236);      
} 
.slider img {    
    object-fit: contain;
    display: none;    
    animation:opacity 0.7s linear;
    margin:0 auto;    
    border-radius: 10px;
    width: 100%;   
    height:100%;   
}
.container-bottom{
    min-width:100%;    
    display: flex;    
    justify-content:space-between;  
}
.words p{
    display: none;  
    animation:opacity 0.7s linear; 
}
input[type="radio"] {
    display:none;
}
span {
    display:inline-block;
    width:1.7em;
    height:1.7em;    
    margin-top:-0.6em;
    margin-left: -0.6em;
}
label {
    display:inline-block;
    width:0.6em;
    height: 0.6em;
    margin: 0.2em;
    border-radius: 50%;
    background-color:rgb(104, 104, 232);
    border: 0.1em solid rgb(104, 104, 232);    
    cursor:pointer;    
}
label:hover {   
    border: 0.1em solid rgb(8, 8, 161); 
    background-color: rgb(8, 8, 161);
}
label:active {
    border: 0.1em solid rgb(13, 180, 202); 
    background-color: rgb(13, 180, 202);
}
#btn-1:checked ~ .container-bottom .control label[for="btn-1"],
#btn-2:checked ~ .container-bottom .control label[for="btn-2"],
#btn-3:checked ~ .container-bottom .control label[for="btn-3"],
#btn-4:checked ~ .container-bottom .control label[for="btn-4"] {
    background-color: beige;
    border: 0.1em solid rgb(104, 104, 232); 
}
#btn-1:checked ~ .container-bottom .words #word1,
#btn-2:checked ~ .container-bottom .words #word2,
#btn-3:checked ~ .container-bottom .words #word3,
#btn-4:checked ~ .container-bottom .words #word4{
    display:block;    
}
#btn-1:checked ~ .slider img[alt="meme1"],
#btn-2:checked ~ .slider img[alt="meme2"],
#btn-3:checked ~ .slider img[alt="meme3"],
#btn-4:checked ~ .slider img[alt="meme4"]{
    display: inline-block;      
    
}

@keyframes opacity {
    from {
        opacity:0;
    }
    to {
        opacity:1
    }
}

@media (max-width:500px){
    .container {
        width:70%;    
        height: 50%;
    }
    .container-bottom{            
        margin-top:3%;        
        flex-direction: column-reverse;
        gap:0.2em;
        font-size: 15px;
    }  
    .control {
        align-self: center;
    }
}




